# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=36a94c5a-9101-4e63-8ee0-38b2971e81b8

    # Set to true to disable all reporting
    B:opt-out=false
}


